apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://${PROMETHEUS_HOST:-prometheus-local}:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 10s
