apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-stage:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 10s
